.container .title {
  color: #dfdfdf;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0 1rem;
  text-shadow: 0 0 8px rgba(213, 58, 37, 0.4), 0 0 16px rgba(213, 58, 37, 0.2);
}

.title .query-text {
  color: rgba(213, 58, 37);
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movies-container div {
  width: 30%;
  color: #dfdfdf;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111111;
  padding: 1rem;
}

@media (max-width: 600px) {
  .movies-container div {
    width: 100%;
  }
}

.movies-container div img {
  max-width: 100%;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p {
  margin-bottom: 1rem;
}

.movies-container div svg {
  color: #ffd745;
}

.movies-container div a {
  background-color: rgb(0, 0, 0);
  border: 2px solid transparent;
  color: #bababa;
  border-radius: 8px;
  padding: 1rem 0.5rem;
  align-items: center;
  transition: 0.2s;
  text-align: center;
  font-weight: bold;
}

.movies-container div a:hover {
  background-color: transparent;
  border-color: #000;
}